[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Discord-Webhooks = "==1.0.4"
Django = "==3.1.4"
python-dotenv = "==0.15.0"
django-crispy-forms = "*"
djangorestframework = "*"
six = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
