{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center container" style="margin-top:2%;">
        <form action="" method="post">
            <div class="justify-content-center align-items-center">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Login</button>
                <input type="button" onclick="window.location.href='/'" class="btn btn-secondary" value="Cancel">
            </div>
        </form>
    </div>
{% endblock content %}